In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("processed.va.data",header=None)

In [3]:
header = ["age","sex","cp","trestbps","chol","fbs","restecg",
          "thalach","exang","oldpeak","slope","ca","thal","class_att"]

In [4]:
df.columns = header
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class_att
0,63,1,4,140,260,0,1,112,1,3,2,?,?,2
1,44,1,4,130,209,0,1,127,0,0,?,?,?,0
2,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2
3,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1
4,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0
5,66,1,3,120,0,0,1,120,0,-0.5,1,?,?,0
6,65,1,4,150,236,1,1,105,1,0,?,?,?,3
7,60,1,3,180,0,0,1,140,1,1.5,2,?,?,0
8,60,1,3,120,0,?,0,141,1,2,1,?,?,3
9,60,1,2,160,267,1,1,157,0,0.5,2,?,?,1

In [5]:
df = df.replace('?',np.NaN)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class_att
0,63,1,4,140,260,0,1,112,1,3,2,NaN,NaN,2
1,44,1,4,130,209,0,1,127,0,0,NaN,NaN,NaN,0
2,60,1,4,132,218,0,1,140,1,1.5,3,NaN,NaN,2
3,55,1,4,142,228,0,1,149,1,2.5,1,NaN,NaN,1
4,66,1,3,110,213,1,2,99,1,1.3,2,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,54,0,4,127,333,1,1,154,0,0,NaN,NaN,NaN,1
196,62,1,1,NaN,139,0,1,NaN,NaN,NaN,NaN,NaN,NaN,0
197,55,1,4,122,223,1,1,100,0,0,NaN,NaN,6,2
198,58,1,4,NaN,385,1,2,NaN,NaN,NaN,NaN,NaN,NaN,0
199,62,1,2,120,254,0,2,93,1,0,NaN,NaN,NaN,1

In [6]:
# melakukan oversampling pada nilai yang nan
df.isnull().sum()

age            0
sex            0
cp             0
trestbps      56
chol           7
fbs            7
restecg        0
thalach       53
exang         53
oldpeak       56
slope        102
ca           198
thal         166
class_att      0
dtype: int64

In [7]:
# menghapus kolom slope, ca,thal
kolom_yang_dihapus = ['slope', 'ca', 'thal']
df = df.drop(kolom_yang_dihapus, axis=1)
df.isnull().sum()

age           0
sex           0
cp            0
trestbps     56
chol          7
fbs           7
restecg       0
thalach      53
exang        53
oldpeak      56
class_att     0
dtype: int64

In [8]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps     object
chol         object
fbs          object
restecg       int64
thalach      object
exang        object
oldpeak      object
class_att     int64
dtype: object

In [9]:
# Mengonversi kolom 'trestbps' ke tipe data numerik
df['trestbps'] = pd.to_numeric(df['trestbps'], errors='coerce')

# Menghitung rata-rata kolom 'trestbps' tanpa memasukkan nilai NaN
avg_trestbps = df['trestbps'].mean(skipna=True)

# Mengisi NaN values dengan rata-rata
df['trestbps'].fillna(avg_trestbps, inplace=True)

# Mengonversi kolom 'trestbps' ke tipe data integer
df['trestbps'] = df['trestbps'].astype('int64')

# Menampilkan dataframe setelah konversi dan pengisian nilai NaN
print("\nDataframe setelah konversi dan pengisian nilai NaN:")
print(df)

Dataframe setelah konversi dan pengisian nilai NaN:
     age  sex  cp  trestbps chol fbs  restecg thalach exang oldpeak  class_att
0     63    1   4       140  260   0        1     112     1       3          2
1     44    1   4       130  209   0        1     127     0       0          0
2     60    1   4       132  218   0        1     140     1     1.5          2
3     55    1   4       142  228   0        1     149     1     2.5          1
4     66    1   3       110  213   1        2      99     1     1.3          0
..   ...  ...  ..       ...  ...  ..      ...     ...   ...     ...        ...
195   54    0   4       127  333   1        1     154     0       0          1
196   62    1   1       133  139   0        1     NaN   NaN     NaN          0
197   55    1   4       122  223   1        1     100     0       0          2
198   58    1   4       133  385   1        2     NaN   NaN     NaN          0
199   62    1   2       120  254   0        2      93     1       0          1

[200 rows x 11 columns]

In [10]:
# Mengonversi kolom 'trestbps' ke tipe data numerik
df['chol'] = pd.to_numeric(df['chol'], errors='coerce')

# Menghitung rata-rata kolom 'trestbps' tanpa memasukkan nilai NaN
avg_trestbps = df['chol'].mean(skipna=True)

# Mengisi NaN values dengan rata-rata
df['chol'].fillna(avg_trestbps, inplace=True)

# Mengonversi kolom 'trestbps' ke tipe data integer
df['chol'] = df['chol'].astype('int64')

In [11]:
df['fbs'].value_counts().idxmax()
df['fbs'].replace(np.nan, 0, inplace=True)

In [12]:
# Mengonversi kolom 'trestbps' ke tipe data numerik
df['thalach'] = pd.to_numeric(df['thalach'], errors='coerce')

# Menghitung rata-rata kolom 'trestbps' tanpa memasukkan nilai NaN
avg_trestbps = df['thalach'].mean(skipna=True)

# Mengisi NaN values dengan rata-rata
df['thalach'].fillna(avg_trestbps, inplace=True)

# Mengonversi kolom 'trestbps' ke tipe data integer
df['thalach'] = df['thalach'].astype('int64')

In [13]:
df['exang'].value_counts().idxmax()
df['exang'].replace(np.nan, 140, inplace=True)

In [14]:
df['oldpeak'].value_counts().idxmax()
df['oldpeak'].replace(np.nan, 140, inplace=True)

In [15]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,class_att
0,63,1,4,140,260,0,1,112,1,3,2
1,44,1,4,130,209,0,1,127,0,0,0
2,60,1,4,132,218,0,1,140,1,1.5,2
3,55,1,4,142,228,0,1,149,1,2.5,1
4,66,1,3,110,213,1,2,99,1,1.3,0
...,...,...,...,...,...,...,...,...,...,...,...
195,54,0,4,127,333,1,1,154,0,0,1
196,62,1,1,133,139,0,1,122,140,140,0
197,55,1,4,122,223,1,1,100,0,0,2
198,58,1,4,133,385,1,2,122,140,140,0
199,62,1,2,120,254,0,2,93,1,0,1

In [16]:
df.isnull().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
class_att    0
dtype: int64

In [17]:
# from sklearn.preprocessing import MinMaxScaler
# kolom_normalisasi = ['trestbps', 'chol', 'thalach']

# # Inisialisasi objek MinMaxScaler
# scaler = MinMaxScaler()

# # Melakukan normalisasi pada kolom-kolom tertentu
# df[kolom_normalisasi] = scaler.fit_transform(df[kolom_normalisasi])

In [18]:
fitur = df.iloc[:, :-1]
target = df.iloc[:, -1]

In [19]:
from sklearn.model_selection import train_test_split
# Melakukan pembagian data menjadi data latih dan data uji
# Proporsi data latih dapat diatur dengan parameter test_size
# Dalam contoh ini, 70% data akan digunakan sebagai data latih (train)
X_train, X_test, y_train, y_test = train_test_split(fitur, target, test_size=0.3, random_state=42)

# Menampilkan ukuran data latih dan data uji
print("Ukuran data latih (train):", X_train.shape)
print("Ukuran data uji (test):", X_test.shape)

Ukuran data latih (train): (140, 10)
Ukuran data uji (test): (60, 10)

In [20]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score


# Oversampling dengan RandomOverSampler
oversampler = RandomOverSampler(sampling_strategy='auto', random_state=42)
X_resampled_over, y_resampled_over = oversampler.fit_resample(X_train, y_train)

# Undersampling dengan RandomUnderSampler
undersampler = RandomUnderSampler(sampling_strategy='auto', random_state=42)
X_resampled_under, y_resampled_under = undersampler.fit_resample(X_train, y_train)

# Membuat model SVM
svm_model = SVC()

# Hyperparameter tuning menggunakan GridSearchCV pada oversampled data
param_grid = {'C': [0.1, 1, 10], 'kernel': ['linear', 'rbf']}
grid_search_over = GridSearchCV(svm_model, param_grid, scoring='accuracy', cv=5)
grid_search_over.fit(X_resampled_over, y_resampled_over)

# Hyperparameter tuning menggunakan GridSearchCV pada undersampled data
grid_search_under = GridSearchCV(svm_model, param_grid, scoring='accuracy', cv=5)
grid_search_under.fit(X_resampled_under, y_resampled_under)

# Menggunakan model terbaik setelah hyperparameter tuning pada oversampled data
best_svm_over = grid_search_over.best_estimator_

# Menggunakan model terbaik setelah hyperparameter tuning pada undersampled data
best_svm_under = grid_search_under.best_estimator_

# Memprediksi kelas target pada data uji
y_pred_over = best_svm_over.predict(X_test)
y_pred_under = best_svm_under.predict(X_test)

# Mengukur akurasi model pada data uji
accuracy_over = accuracy_score(y_test, y_pred_over)
accuracy_under = accuracy_score(y_test, y_pred_under)

print("Akurasi Model SVM dengan Oversampling:", accuracy_over)
print("Akurasi Model SVM dengan Undersampling:", accuracy_under)

Akurasi Model SVM dengan Oversampling: 0.31666666666666665
Akurasi Model SVM dengan Undersampling: 0.18333333333333332

In [21]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
import pandas as pd



# Oversampling dengan RandomOverSampler
oversampler = RandomOverSampler(sampling_strategy='auto', random_state=42)
X_resampled_over, y_resampled_over = oversampler.fit_resample(X_train, y_train)

# Undersampling dengan RandomUnderSampler
undersampler = RandomUnderSampler(sampling_strategy='auto', random_state=42)
X_resampled_under, y_resampled_under = undersampler.fit_resample(X_train, y_train)

# Hyperparameter tuning untuk KNN
param_grid_knn = {'n_neighbors': [3, 5, 7], 'weights': ['uniform', 'distance']}
knn_model = KNeighborsClassifier()
grid_search_knn_over = GridSearchCV(knn_model, param_grid_knn, scoring='accuracy', cv=5)
grid_search_knn_under = GridSearchCV(knn_model, param_grid_knn, scoring='accuracy', cv=5)

# Hyperparameter tuning untuk Decision Tree
param_grid_dt = {'max_depth': [3, 5, 7], 'criterion': ['gini', 'entropy']}
dt_model = DecisionTreeClassifier()
grid_search_dt_over = GridSearchCV(dt_model, param_grid_dt, scoring='accuracy', cv=5)
grid_search_dt_under = GridSearchCV(dt_model, param_grid_dt, scoring='accuracy', cv=5)

# Melatih model KNN dengan data oversampled dan undersampled
grid_search_knn_over.fit(X_resampled_over, y_resampled_over)
grid_search_knn_under.fit(X_resampled_under, y_resampled_under)

# Melatih model Decision Tree dengan data oversampled dan undersampled
grid_search_dt_over.fit(X_resampled_over, y_resampled_over)
grid_search_dt_under.fit(X_resampled_under, y_resampled_under)

# Menggunakan model terbaik setelah hyperparameter tuning pada KNN
best_knn_over = grid_search_knn_over.best_estimator_
best_knn_under = grid_search_knn_under.best_estimator_

# Menggunakan model terbaik setelah hyperparameter tuning pada Decision Tree
best_dt_over = grid_search_dt_over.best_estimator_
best_dt_under = grid_search_dt_under.best_estimator_

# Memprediksi kelas target pada data uji menggunakan KNN
y_pred_knn_over = best_knn_over.predict(X_test)
y_pred_knn_under = best_knn_under.predict(X_test)

# Memprediksi kelas target pada data uji menggunakan Decision Tree
y_pred_dt_over = best_dt_over.predict(X_test)
y_pred_dt_under = best_dt_under.predict(X_test)

# Mengukur akurasi model pada data uji untuk KNN
accuracy_knn_over = accuracy_score(y_test, y_pred_knn_over)
accuracy_knn_under = accuracy_score(y_test, y_pred_knn_under)

# Mengukur akurasi model pada data uji untuk Decision Tree
accuracy_dt_over = accuracy_score(y_test, y_pred_dt_over)
accuracy_dt_under = accuracy_score(y_test, y_pred_dt_under)

print("Akurasi Model KNN dengan Oversampling:", accuracy_knn_over)
print("Akurasi Model KNN dengan Undersampling:", accuracy_knn_under)

print("Akurasi Model Decision Tree dengan Oversampling:", accuracy_dt_over)
print("Akurasi Model Decision Tree dengan Undersampling:", accuracy_dt_under)

Akurasi Model KNN dengan Oversampling: 0.23333333333333334
Akurasi Model KNN dengan Undersampling: 0.21666666666666667
Akurasi Model Decision Tree dengan Oversampling: 0.3
Akurasi Model Decision Tree dengan Undersampling: 0.23333333333333334

In [22]:
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Using SMOTE for oversampling
smote = SMOTE(random_state=42)
X_resampled_over, y_resampled_over = smote.fit_resample(X_train, y_train)

# Retraining KNN with oversampled data
best_knn_over.fit(X_resampled_over, y_resampled_over)

# Predicting with KNN on the test set
y_pred_knn_over = best_knn_over.predict(X_test)

# Measuring accuracy for KNN
accuracy_knn_over = accuracy_score(y_test, y_pred_knn_over)
print("Improved Accuracy Model KNN with Oversampling:", accuracy_knn_over)

# Retraining Decision Tree with oversampled data
best_dt_over.fit(X_resampled_over, y_resampled_over)

# Predicting with Decision Tree on the test set
y_pred_dt_over = best_dt_over.predict(X_test)

# Measuring accuracy for Decision Tree
accuracy_dt_over = accuracy_score(y_test, y_pred_dt_over)
print("Improved Accuracy Model Decision Tree with Oversampling:", accuracy_dt_over)

Improved Accuracy Model KNN with Oversampling: 0.21666666666666667
Improved Accuracy Model Decision Tree with Oversampling: 0.35

c:\Users\ASUS\miniconda3\envs\heart_disease\lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
found 0 physical cores < 1
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "c:\Users\ASUS\miniconda3\envs\heart_disease\lib\site-packages\joblib\externals\loky\backend\context.py", line 282, in _count_physical_cores
    raise ValueError(f"found {cpu_count_physical} physical cores < 1")

In [23]:
# export ke csv
df.to_csv('processed2.va.data', index=False)

In [24]:
# mengexport model dengan algoritma knn, dt, svm
import pickle
pickle.dump(best_knn_over, open('model_knn.pkl','wb'))
pickle.dump(best_dt_over, open('model_dt.pkl','wb'))
pickle.dump(best_svm_over, open('model_svm.pkl','wb'))
# mengekstraksi data yang terdapat pada file csv dan mengembalikannya ke format dataframe pandas
df = pd.read_csv('processed2.va.data')